<svg xmlns="http://www.w3.org/2000/svg"
     width="{{ size | default: 20 }}"
     height="{{ size | default: 20 }}"
     viewBox="0 0 18 18"
     class="icon-social-tiktok {{ class }}"
     fill="currentColor">
    <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none" class="" style=""/>
    <g class="currentLayer" style="">
        <title>Layer 1</title>
        <path d="M3,0 C1.3550301999999999,0 0,1.3550301999999999 0,3 L0,15 C0,16.64497 1.3550301999999999,18 3,18 L15,18 C16.64497,18 18,16.64497 18,15 L18,3 C18,1.3550301999999999 16.64497,0 15,0 L3,0 zM3,2 L15,2 C15.56503,2 16,2.4349698 16,3 L16,15 C16,15.56503 15.56503,16 15,16 L3,16 C2.4349698,16 2,15.56503 2,15 L2,3 C2,2.4349698 2.4349698,2 3,2 zM9,4 L9,11 C9,11.56503 8.56503,12 8,12 C7.43497,12 7,11.56503 7,11 C7,10.43497 7.43497,10 8,10 L8,8 C6.3550302,8 5,9.35503 5,11 C5,12.64497 6.3550302,14 8,14 C9.64497,14 11,12.64497 11,11 L11,7.232422 C11.616148,7.671341999999999 12.259118,8 13,8 L13,6 C12.952667,6 12.262674,5.7809373 11.78125,5.3613281 C11.299826,4.941719 11,4.4149911 11,4 L9,4 z"
              id="svg_1" class=""/>
    </g>
</svg>
