{% comment %} Create liquid variable for collection {% endcomment %}
{% assign upsellCollection = 'upsell-products' %}
<div class="c-upsell js-upsell">
{% comment %} Use Product ID as Data Attribute which we will use for Add to Cart Event {% endcomment %}
{% for product in collections[upsellCollection].products %}
 <div class="c-upsell__product js-product" data-product-id="{{ product.id}}">
  <div class="c-upsell__productImage">
   {% comment %} Fetch Product Images{% endcomment %}
   {% for image in product.images %}
     <img class="c-upsell__innerImage"
          data-src="{{ image | img_url: '586x' }}"
          loading="lazy"
          alt="Product Img" />
   {% endfor %}
  </div>
  {% comment %} Fetch Product title & Price {% endcomment %}
  <h2 class="c-upsell__productTitle">{{ product.title }} </h2>
  <p class="c-upsell__productPrice"> {{ product.price }}</p>
  {% comment %} Add to Cart Button {% endcomment %}
  <a href="#" class="c-upsell__atc js-atc">Add to Cart</a>
</div>
{% endfor %}
</div>
{% comment %} Now we're done with Liquid code and collection will be appeared on where we add it {% endcomment %}

<script>

  function upsellProduct () {
    // Create an empty Array in which we'll be pushing our product ID
    const upsellProductArr = [];
    //get the Product ID from Attribute
    const productID = document.querySelector('.js-product').getAttribute('data-product-id');
    // Now push this product ID to Array
    upsellProductArr.push(productID);
     // Console.log to check you're pushing correct ID into array
        console.log(upsellProductArr);
  }
  // Let's Find our ATC button
  const button = document.querySelector('.js-atc');
  // Now Add click event use our Array to add to cart the Product button.addEventListener('click', event => {
    upsellProduct ();
    // This is CartJS API - Attaching link for reference
    CartJS.addItem(upsellProductArr[0], quantity = 1 );
  });
  // Done
</script>
